<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_PATH" value="logs"/>
    <!-- date, thread name, log level, class name,message,newline -->
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%-5level] %-40.40logger{39} : %msg%n"/>

    <!-- console input -->
    <appender name="consoleLog" class="ch.qos.logback.core.ConsoleAppender">
        <!-- color log -->
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%thread] %magenta(%-5level) %green([%-50.50class]) >>> %cyan(%msg) %n
            </pattern>
        </layout>
    </appender>

    <appender name="fileLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/cms.log</file> <!-- Active log file -->

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- Logs are rotated based on the date and size -->
            <fileNamePattern>${LOG_PATH}/cms.%d{yyyy-MM-dd}.%i.log</fileNamePattern>

            <!-- Maximum size of a single log file before rollover happens -->
            <maxFileSize>100MB</maxFileSize>

            <!-- Maximum number of days to keep log files -->
            <maxHistory>30</maxHistory>

            <!-- Maximum total size of all log files (after reaching this, old files are deleted) -->
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>


    <root level="info">
        <appender-ref ref="consoleLog"/>
        <appender-ref ref="fileLog"/>
    </root>
</configuration>